![alt text](https://www.nlab.org.uk/wp-content/uploads/NLABBlue.png)
# FBA Python Test 2023

* You have one hour to finish this test.
* Please enter your answers into the spaces provided.
* We recommend that you show comments in your code, to evidence your work if possible (comments may earn some credit even if your script code is not 100% correct).
* In this test you will not be marked on elegance or efficiency, but rather getting the correct result in the instructed manner.
* Partial answers can still gain some marks, so please move onto the next question if you get stuck.
* As a guideline, question 5 is roughly halfway through the test.
* When you finish **do not forget to download your work as .ipynb file and upload it using Moodle submission link before 10:35 AM**.

## Your Name

Please print out your full name in the box below

In [1]:
#print out your full name here
print("Shreyash Chetan Meshram")

Shreyash Chetan Meshram

## Section 1 - Variables, Types & Casting

### Q1.1: Variable assignment (2 marks)

Store your university login as a string (e.g. mine is lizel) in a variable **login** and print the type of your variable.

In [2]:
#enter your answer here
login = 'lixsm104@nottingham.ac.uk'
print(f'{type(login)}')

<class 'str'>

### Q1.2: Data Types & Casting  (3 marks)

In this question we want to:
* Assign to a variable **a** the integer value of 2
* Assign to a variable **b** the float value of 16.8
* Assign to a variable **c** the string value of '9.3'
* Assign to a variable **d** the sum of **a**, **b** and **c** (you will need to convert a variable from one type to another).
* Print the value of the variable **d** (the correct answer is 28.1)

In [3]:
#enter your answer here
a=2
b=16.8
c='9.3'
d=float(a)+float(b)+float(c)
print(d)

28.1

## Section 2 - Loops & Conditionals

In this section, your goal is to print every 4th number between 1 and 40 (that is: 4, 8, 12, 16, 20, 24, 28, 32, 36, 40). You will be asked to do this in several ways, using different python functions. Please complete these below:

### Q2.1: Use a for loop and the range() function (3 marks)

In [8]:
#enter your answer here
for i in range(4,41,4):
    print(i)

4
8
12
16
20
24
28
32
36
40

### Q2.2: Use a while loop - 1 (3 marks)

This time we want to use a while loop with a counter. The condition of your while loop should depend on a variable you create to count where you are in the loop.

In [16]:
#enter your answer here
i=4
while i<44:
    if (i%4)==1:
        print(i-1)
        i=i+1
    else:
        i=i+1

4
8
12
16
20
24
28
32
36
40

### Q2.3: Use a while loop - 2 (3 marks)

This time we want to use a counter and a 'while True' loop (infinite loop). You must exit the loop using the **continue** or **break** statement (n.b. only one of these two commands will do what you want), and any other commands that you think are useful.

In [ ]:
#enter your answer here

## Section 3 - If statements

### Q3.1: Using if, elif and else (3 marks)
Given a variable **x** containing a number, write a script that does the following:
- If the number in **x** is negative or equal to zero, print : 'The number is negative or zero'
- If the number in **x** is positive and even, print: 'The number is positive and even'
- If the number in **x** is positive and odd, print: 'The number is positive and odd'

Remember that you have to use **if**, **elif** and **else** in this question.

In [ ]:
x = -2 # You can change the value of x to -3, 0, 2, 9 to cover the different cases and test your code

#enter your answer here

### Q3.2: Nested conditionals (3 marks)
Finally, (and given the same variable **x**) please use <i>nested</i> if statements to cover the following cases:
- If the number is negative or equal to zero:
    - And if the number is even, print: 'The number is negative or zero and even'
    - And if the number is odd, print: 'The number is negative or zero and odd'
- If the number is positive:
    - And if the number is even, print: 'The number is positive and even'
    - And if the number is odd, print: 'The number is positive and odd'

In [ ]:
x = -2 # You can change the value of x to -3, 0, 2, 9 to cover the different cases and test your code

#enter your answer here

### Q3.3: Type Checking (3 marks)

This time you are asked to work with two variables **a** and **b**. Write an if statement that prints on the screen the sum of a and b if both variables are integers. Otherwise, print on the screen the following message: 'Both variables need to be integers'.

In [ ]:
a = 2
b = 'Hello' # You can change the values of a and b to cover the different cases and test your code

#enter your answer here

## Section 4 - Data Structures

### Q4.1: List creation (2 marks)

Create a list that contains 4 elements: 'a', 'b', 'b' and 'd' and assign it to a variable **l**.

In [ ]:
#enter your answer here

### Q4.2: List Length (1 mark)

Print the length of your list

In [ ]:
#enter your answer here

### Q4.3: List modification (2 marks)

Update your list and change the third element (currently the second 'b') to a 'c' so that your list becomes 'a','b','c' and 'd', and then print it out.

In [ ]:
#enter your answer here

### Q4.4: List indexing (2 marks)

Using two different ways of indexing, print the last element of your list (i.e. 'd')

In [ ]:
#enter your answer here

### Q4.5: Dictionary Creation (3 marks)

Create and assign to a variable **dict1** a dictionary that contains the following key value pairs (using one line of code):

|key|value|
|-|-|
|ID|1|
|Gender|Male|
|Age|19|
|Income|15000|
|Spending_score|39|

In [ ]:
#enter your answer here

### String Manipulation

This time you are given a string **s** that contains 5 comma-separated values in that order:
1. Customer ID
2. Gender
3. Age
4. Income (k£)
5. Spending Score (between 1 and 100)

In the next two questions, we will want to transform that string into a dictionary similar to the one we have just done.

### Q4.6: Splitting text (2 marks)
The first step (this question), is to split the string to obtain a list of strings, stored in a variable **split_list** and whose elements contains the data held in the string.

In [19]:
s = "1,Male,19,15,39"
#enter your answer here
split_list=s.split(',')
print(split_list)
print(type(split_list))

['1', 'Male', '19', '15', '39']
<class 'list'>

### Q4.7: Populating an empty dictionary (5 marks)

This time  first create an empty dictionary and assign it to a variable **dict2**. Then, we want to populate the dictionary, using the data from our list stored in **split_list**. The 1st element is the ID, the 2nd - the Gender, the 3rd - Age, the 4th - Income and the last element is the Spending_score.

(n.b. if you didn't manage to extract the list in the previous question, please create your own version of **split_list** manually)

Remember the two steps of this question:
1. Create an empty dictionary and assign it to a variable **dict2**
2. Populate your dictionary by adding new keys and assigning it the values from your **split_list** converted into the appropriate datatypes.

In [ ]:
#enter your answer here

### Q4.8: Updating values in a dictionary (2 marks)

The income was given to us in k£ (i.e., 15 corresponds to £15000). For clarity we want to update our 'income' value in the dictionary by multiplying it by 1000 so that we have a meaningful number. Once done, print your dictionary.

(n.b. again, if you didn't succeed in the previous question, feel free to create your own version of **dict2** explicitly in the first line).

In [ ]:
#enter your answer here

## Section 5 - Functions

### Q5.1: A Basic function (2 marks)

Create a function **say_hello** that prints on the screen 'Hello' when you call it. Add a call to your function after its definition to check if it works as expected.

In [ ]:
#enter your answers here

### Q5.2: Function parameters  (2 marks)

Create a function called **say_hello_to** that has a parameter **name** and prints 'Hello John' if you pass it the name 'John' as an argument. Add a call to your function after its definition to check if it works as expected.

In [ ]:
#enter your answer here

### Q5.3: Returning a value (2 marks)

Create a function **my_multiplication** that takes two parameters a and b and returns the product of a and b. Two function calls have been added with the expected return values so that you can check your function behavior.

In [ ]:
#enter your answer here

#test using the following function calls
print(my_multiplication('Hello ', 3)) # Should print 'Hello Hello Hello'
print(my_multiplication(2, 3)) # Should print 6

### Q5.4: A function to extract the mode (8 marks)

Write a function **extract_mode** that takes a list **lst** as a parameter and returns the mode of the list. **You *must* use a dictionary** as part of your function.

Only use the core python data-types and functions to answer this question. (i.e. lists, dictionaries, if statements, for / while loops, ...)

In [ ]:
lst1 = [1, 2, 3, 4, 5, 6, 6, 6, 7] # Correct answer : 6
lst2 = ['Monday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] # Correct answer : 'Monday'

#enter your answer here

print(extract_mode(lst1))
print(extract_mode(lst2))

## Section 6 - Module Import & Documentation

### Q6.1: Importing a module (1 mark)

Import the module **NumPy** with the usual shortcut name **np**

In [ ]:
#enter your answer here

### Q6.2: Ndarray Creation (2 marks)

You are given a variable **mat_data** containing nested lists. Create a NumPy array from the variable **mat_data** and assign it to a variable **mat**. Print your array.

In [ ]:
mat_data = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]

#enter your answer here

### Q6.3: Ndarray Shape (2 marks)

Print the shape of your array.

In [ ]:
#enter your answer here

### Q6.4: Mean (3 marks)

What is the mean of each row of the matrix **mat**? Print your result. Please use a function in NumPy to do this (if needed, refer to the NumPy documentation to find the function to use and check its parameters).

In [ ]:
#enter your answer here

### Q6.5: Transpose (2 marks)

Assign to a variable **mat_t** the transpose of the matrix **mat** using a NumPy function and print it.

In [ ]:
#enter your answer here

### Q6.6: Cubing (3 marks)

By whatever means you see appropriate, cube (i.e. exponent 3) every item in the array **mat_t** and print the result.

In [ ]:
#if you had trouble with previous sections, and can't use mat_t, please use the following array instead.
x = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [ ]:
#enter your answer here

## Section 7 - Reading a file manually

Get the file **loan_data_set.csv**.

In [20]:
!wget -O loan_data_set.zip "https://drive.google.com/uc?export=download&id=1BB_b2NQtWXWJw6OQbXXboPb3ONGsPp95"
!unzip loan_data_set.zip

--2025-11-21 13:28:25--  https://drive.google.com/uc?export=download&id=1BB_b2NQtWXWJw6OQbXXboPb3ONGsPp95
Resolving drive.google.com (drive.google.com)... 142.251.29.139, 142.251.29.138, 142.251.29.100, ...
Connecting to drive.google.com (drive.google.com)|142.251.29.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1BB_b2NQtWXWJw6OQbXXboPb3ONGsPp95&export=download [following]
--2025-11-21 13:28:25--  https://drive.usercontent.google.com/download?id=1BB_b2NQtWXWJw6OQbXXboPb3ONGsPp95&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.151.132, 2a00:1450:4009:c13::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.151.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10175 (9.9K) [application/octet-stream]
Saving to: ‘loan_data_set.zip’

loan_data_set.zip   100%[===================>]   9.94K  --.-KB/s    in 0s

2025-11-21 13:28:26 (23.0 MB/s) - ‘loan_data_set.zip’ saved [10175/10175]

Archive:  loan_data_set.zip
  inflating: loan_data_set.csv

### Q7.1: Reading the first 10 lines (6 marks)

* Using the standard Python functions (open(), read(), readlines(), write(), ...), print the content of the first 10 lines of the file to the screen.

In [ ]:
#enter your answer here

## Section 8 - Pandas

This time we are going to use Pandas to load the **loan_data_set.csv** file and explore it.

### Q8.1: Loading the CSV file (2 marks)

First of all, import the Pandas module! Using one of Pandas functions, load the data of the CSV file into a dataframe and assign it to a variable **df**.

In [ ]:
#enter your answer here

### Q8.2: Displaying the first 10 lines (2 marks)

Print the first 10 lines of your dataframe.

In [ ]:
#enter your answer here

### Q8.3: Displaying the last 5 lines (1 mark)

Print the last 5 lines of your dataframe.

In [ ]:
#enter your answer here

### Q8.4: Dataframe Shape (2 marks)

Print the shape of your dataframe.

In [ ]:
#enter your answer here

### Q8.5: Column Names (2 marks)
Print out the column names of the data frame.

In [ ]:
#enter your answer here

### Q8.6: Extract one column (2 marks)

Print on the screen the column 'Education'.

In [ ]:
#enter your answer here

### Q8.7: Data summary (4 marks)

Print the number of Married and Non-Married individuals in the dataset using one line of code.

In [ ]:
#enter your answer here

### Q8.8: Row filtering (4 marks)

Print the rows where the number of dependents is equal to 1 using one line of code.

In [ ]:
#enter your answer here

### Q8.9: Column creation (2 marks)

Create a column 'TotalIncome' that sums the columns 'ApplicantIncome' and 'CoapplicantIncome'.

In [ ]:
#enter your answer here

### Q8.10 Filtering and Slicing (4 marks)
Print the columns 'Education' and 'Self_Employed' for the rows where 'Loan_Status' is 'N' using one line of code.

In [ ]:
#enter your answer here

## THIS IS THE END OF THE TEST (100 marks were available)