![alt text](https://www.nlab.org.uk/wp-content/uploads/NLABBlue.png)
# FBA Computing Session Week 7:

**Python Revision + Sklearn**

The aim of this tutorial is to cover a number of important concepts we have learned so far in view of the upcoming test. You will be writing loops, functions, conditions as well as creating lists and dictionaries.

After that we will focus on the use of libraries to ease our task, starting with Pandas to load and pre-process our data before moving to Sklearn to do our first machine learning task in Python, a linear regression!

As in the previous tutorial, we will be using the **admissions.csv** file (available from the moodle page). This file describes people who are applying for a postgraduate degree at a US university, and indicates 3 relevant features about an applicant… as well as whether they got into to the masters or PhD course they were applying for when they were selected by hand (note that if we were doing a full analytics project, this would be our target class!):

* The dataset has a binary output feature (i.e. dependent variable) called "admit".
* There are three predictor variables: gre, gpa and ranking.
* Variables gre (a exam result score) and gpa (the person’s grade point average) are continuous.
* The variable ranking takes on the values 1 through 4. Institutions with a rank of 1 have the highest prestige, while those with a rank of 4 have the lowest.

Let's get started, first by doing a lot of the grunt work ourselves!

## Python Revision

### Step A1: Variables & Data Types
Create variables a1, a2, and a3 and assign values 3, 4, '5', respectively. Check and print the type of the second variable.

In [1]:
# enter your answer here
a1=2
a2=4
a3='5'

In [2]:
# enter your answer here
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'int'>
<class 'str'>

### Step A2: A For Loop with a Dictionary

Check and print the data types in a 'for' loop for these variables. The quickest way will be to start with a dictionary...

In [3]:
variables = {
    'a1': 3,
    'a2': 4,
    'a3': '5'
}
# enter your answer here
for i in variables:
    print(type(variables[i]))

<class 'int'>
<class 'int'>
<class 'str'>

### Step A3: Conditionals and Casting
Using an if clause and boolean operators check whether all variables created in Step A1 are integers. Print the outcome using words.

In [4]:
#enter your answer here
for i in variables:
    if type(variables[i]) == int:
        print(f"{variables[i]} is integer")

3 is integer
4 is integer

Using and `if` and `elif` check which variable is not an integer and cast it into integer. Print the result. Otherwise, print "All variables are already integers".

In [5]:
for i in variables:
    if type(variables[i]) != int:
        print(f"int({variables[i]})")
    elif type(variables[i]) == int:
        print(f'{variables[i]} is already an integer')
    else:
        # print(f'All variables are integers')
        print()

3 is already an integer
4 is already an integer
int(5)

In [6]:
for i in variables:
    if type(variables[i]) != int:
        print(f"int({variables[i]})")
    else:
        # print(f'All variables are integers')
        print(f'{variables[i]} is already an integer')

3 is already an integer
4 is already an integer
int(5)

With `elif`, only the first non-integer variable encountered will be cast and printed. After casting the first non-integer, it exits the conditional chain without checking the remaining variables. If all variables are integers, it prints that no casting was needed.

### Step A4: Conditionals and While Loop

Use a while loop with the values of the variables given below, to continue casting until all variables are integers. Print, when the casting is needed, then print the final outcome.

In [7]:
a1 = '3'
a2 = 4
a3 = '5'
list_of_vars = [a1, a2, a3]
# enter your code here

i=0
while i < len(list_of_vars):
    item = list_of_vars[i]
    if type(item) != int:
        print(f"Element is not and integer casting needed -> {type(item)} is converted to ({int(item)})")
    else:
        print(f'{item} is already an integer')
    i += 1

Element is not and integer casting needed -> <class 'str'> is converted to (3)
4 is already an integer
Element is not and integer casting needed -> <class 'str'> is converted to (5)

### Step B1: Lists

Count the items in the list in a for loop, rather than using `len()`.

In [8]:
my_list = [a1,a2,3,a3,5]
count = 0
for i in range(len(my_list)):
    count += 1
print(count)

5

In [9]:
len(my_list) # just to check your answer
# your code here

5

### Step B2: File Manipulation

In [ ]:
!wget -O week5_data.zip "https://drive.google.com/uc?export=download&id=18C-_-ojwxWq2HztrJaSBkQkrwvpMPszZ"
!unzip week5_data.zip

In [11]:
with open('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv', 'r') as file:
    data = file.readlines()
    for line in data:
        print(line, end='')

admit,gre,gpa,ranking
0,380,3.61,3
1,660,3.67,3
1,800,4,1
1,640,3.19,4
0,520,2.93,4
1,760,3,2
1,560,2.98,1
0,400,3.08,2
1,540,3.39,3
0,700,3.92,2
0,800,4,4
0,440,3.22,1
1,760,4,1
0,700,3.08,2
1,700,4,1
0,480,3.44,3
0,780,3.87,4
0,360,2.56,3
0,800,3.75,2
1,540,3.81,1
0,500,3.17,3
1,660,3.63,2
0,600,2.82,4
0,680,3.19,4
1,760,3.35,2
1,800,3.66,1
1,620,3.61,1
1,520,3.74,4
1,780,3.22,2
0,520,3.29,1
0,540,3.78,4
0,760,3.35,3
0,600,3.4,3
1,800,4,3
0,360,3.14,1
0,400,3.05,2
0,580,3.25,1
0,520,2.9,3
1,500,3.13,2
1,520,2.68,3
0,560,2.42,2
1,580,3.32,2
1,600,3.15,2
0,500,3.31,3
0,700,2.94,2
1,460,3.45,3
1,580,3.46,2
0,500,2.97,4
0,440,2.48,4
0,400,3.35,3
0,640,3.86,3
0,440,3.13,4
0,740,3.37,4
1,680,3.27,2
0,660,3.34,3
1,740,4,3
0,560,3.19,3
0,380,2.94,3
0,400,3.65,2
0,600,2.82,4
1,620,3.18,2
0,560,3.32,4
0,640,3.67,3
1,680,3.85,3
0,580,4,3
0,600,3.59,2
0,740,3.62,4
0,620,3.3,1
0,580,3.69,1
0,800,3.73,1
0,640,4,3
0,300,2.92,4
0,480,3.39,4
0,580,4,2
0,720,3.45,4
0,720,4,3
0,560,3.36,3
1,800,4,3
0,540,3.12,1
1,620,4,1
0,700,2.9,4
0,620,3.07,2
0,500,2.71,2
0,380,2.91,4
1,500,3.6,3
0,520,2.98,2
0,600,3.32,2
0,600,3.48,2
0,700,3.28,1
1,660,4,2
0,700,3.83,2
1,720,3.64,1
0,800,3.9,2
0,580,2.93,2
1,660,3.44,2
0,660,3.33,2
0,640,3.52,4
0,480,3.57,2
0,700,2.88,2
0,400,3.31,3
0,340,3.15,3
0,580,3.57,3
0,380,3.33,4
0,540,3.94,3
1,660,3.95,2
1,740,2.97,2
1,700,3.56,1
0,480,3.13,2
0,400,2.93,3
0,480,3.45,2
0,680,3.08,4
0,420,3.41,4
0,360,3,3
0,600,3.22,1
0,720,3.84,3
0,620,3.99,3
1,440,3.45,2
0,700,3.72,2
1,800,3.7,1
0,340,2.92,3
1,520,3.74,2
1,480,2.67,2
0,520,2.85,3
0,500,2.98,3
0,720,3.88,3
0,540,3.38,4
1,600,3.54,1
0,740,3.74,4
0,540,3.19,2
0,460,3.15,4
1,620,3.17,2
0,640,2.79,2
0,580,3.4,2
0,500,3.08,3
0,560,2.95,2
0,500,3.57,3
0,560,3.33,4
0,700,4,3
0,620,3.4,2
1,600,3.58,1
0,640,3.93,2
1,700,3.52,4
0,620,3.94,4
0,580,3.4,3
0,580,3.4,4
0,380,3.43,3
0,480,3.4,2
0,560,2.71,3
1,480,2.91,1
0,740,3.31,1
1,800,3.74,1
0,400,3.38,2
1,640,3.94,2
0,580,3.46,3
0,620,3.69,3
1,580,2.86,4
0,560,2.52,2
1,480,3.58,1
0,660,3.49,2
0,700,3.82,3
0,600,3.13,2
0,640,3.5,2
1,700,3.56,2
0,520,2.73,2
0,580,3.3,2
0,700,4,1
0,440,3.24,4
0,720,3.77,3
0,500,4,3
0,600,3.62,3
0,400,3.51,3
0,540,2.81,3
0,680,3.48,3
1,800,3.43,2
0,500,3.53,4
1,620,3.37,2
0,520,2.62,2
1,620,3.23,3
0,620,3.33,3
0,300,3.01,3
0,620,3.78,3
0,500,3.88,4
0,700,4,2
1,540,3.84,2
0,500,2.79,4
0,800,3.6,2
0,560,3.61,3
0,580,2.88,2
0,560,3.07,2
0,500,3.35,2
1,640,2.94,2
0,800,3.54,3
0,640,3.76,3
0,380,3.59,4
1,600,3.47,2
0,560,3.59,2
0,660,3.07,3
1,400,3.23,4
0,600,3.63,3
0,580,3.77,4
0,800,3.31,3
1,580,3.2,2
1,700,4,1
0,420,3.92,4
1,600,3.89,1
1,780,3.8,3
0,740,3.54,1
1,640,3.63,1
0,540,3.16,3
0,580,3.5,2
0,740,3.34,4
0,580,3.02,2
0,460,2.87,2
0,640,3.38,3
1,600,3.56,2
1,660,2.91,3
0,340,2.9,1
1,460,3.64,1
0,460,2.98,1
1,560,3.59,2
0,540,3.28,3
0,680,3.99,3
1,480,3.02,1
0,800,3.47,3
0,800,2.9,2
1,720,3.5,3
0,620,3.58,2
0,540,3.02,4
0,480,3.43,2
1,720,3.42,2
0,580,3.29,4
0,600,3.28,3
0,380,3.38,2
0,420,2.67,3
1,800,3.53,1
0,620,3.05,2
1,660,3.49,2
0,480,4,2
0,500,2.86,4
0,700,3.45,3
0,440,2.76,2
1,520,3.81,1
1,680,2.96,3
0,620,3.22,2
0,540,3.04,1
0,800,3.91,3
0,680,3.34,2
0,440,3.17,2
0,680,3.64,3
0,640,3.73,3
0,660,3.31,4
0,620,3.21,4
1,520,4,2
1,540,3.55,4
1,740,3.52,4
0,640,3.35,3
1,520,3.3,2
1,620,3.95,3
0,520,3.51,2
0,640,3.81,2
0,680,3.11,2
0,440,3.15,2
1,520,3.19,3
1,620,3.95,3
1,520,3.9,3
0,380,3.34,3
0,560,3.24,4
1,600,3.64,3
1,680,3.46,2
0,500,2.81,3
1,640,3.95,2
0,540,3.33,3
1,680,3.67,2
0,660,3.32,1
0,520,3.12,2
1,600,2.98,2
0,460,3.77,3
1,580,3.58,1
1,680,3,4
1,660,3.14,2
0,660,3.94,2
0,360,3.27,3
0,660,3.45,4
0,520,3.1,4
1,440,3.39,2
0,600,3.31,4
1,800,3.22,1
1,660,3.7,4
0,800,3.15,4
0,420,2.26,4
1,620,3.45,2
0,800,2.78,2
0,680,3.7,2
0,800,3.97,1
0,480,2.55,1
0,520,3.25,3
0,560,3.16,1
0,460,3.07,2
0,540,3.5,2
0,720,3.4,3
0,640,3.3,2
1,660,3.6,3
1,400,3.15,2
1,680,3.98,2
0,220,2.83,3
0,580,3.46,4
1,540,3.17,1
0,580,3.51,2
0,540,3.13,2
0,440,2.98,3
0,560,4,3
0,660,3.67,2
0,660,3.77,3
1,520,3.65,4
0,540,3.46,4
1,300,2.84,2
1,340,3,2
1,780,3.63,4
1,480,3.71,4
0,540,3.28,1
0,460,3.14,3
0,460,3.58,2
0,500,3.01,4
0,420,2.69,2
0,520,2.7,3
0,680,3.9,1
0,680,3.31,2
1,560,3.48,2
0,580,3.34,2
0,500,2.93,4
0,740,4,3
0,660,3.59,3
0,420,2.96,1
0,560,3.43,3
1,460,3.64,3
1,620,3.71,1
0,520,3.15,3
0,620,3.09,4
0,540,3.2,1
1,660,3.47,3
0,500,3.23,4
1,560,2.65,3
0,500,3.95,4
0,580,3.06,2
0,520,3.35,3
0,500,3.03,3
0,600,3.35,2
0,580,3.8,2
0,400,3.36,2
0,620,2.85,2
1,780,4,2
0,620,3.43,3
1,580,3.12,3
0,700,3.52,2
1,540,3.78,2
1,760,2.81,1
0,700,3.27,2
0,720,3.31,1
1,560,3.69,3
0,720,3.94,3
1,520,4,1
1,540,3.49,1
0,680,3.14,2
0,460,3.44,2
1,560,3.36,1
0,480,2.78,3
0,460,2.93,3
0,620,3.63,3
0,580,4,1
0,800,3.89,2
1,540,3.77,2
1,680,3.76,3
1,680,2.42,1
1,620,3.37,1
0,560,3.78,2
0,560,3.49,4
0,620,3.63,2
1,800,4,2
0,640,3.12,3
0,540,2.7,2
0,700,3.65,2
1,540,3.49,2
0,540,3.51,2
0,660,4,1
1,480,2.62,2
0,420,3.02,1
1,740,3.86,2
0,580,3.36,2
0,640,3.17,2
0,640,3.51,2
1,800,3.05,2
1,660,3.88,2
1,600,3.38,3
1,620,3.75,2
1,460,3.99,3
0,620,4,2
0,560,3.04,3
0,460,2.63,2
0,700,3.65,2
0,600,3.89,3

0,380,3.61,3

Using `with open` and a for loop and if clause open, read & print first three lines of the file 'admissions.csv'.

In [12]:
# your code here
with open('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv', 'r') as file:
    data = file.readlines()
    for line in data[:3]:
        print(line, end='')

admit,gre,gpa,ranking
0,380,3.61,3
1,660,3.67,3

In [13]:
# GPT
# your code here
with open('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv', 'r') as file:
    for i in range(3):
        print(file.readline(), end='')

admit,gre,gpa,ranking
0,380,3.61,3
1,660,3.67,3

### Step B3 - Adding Functions

Write a function to count the number of lines in a file. Your function will take a parameter **filename** containing the path of the file to open and read. It will return the number of lines in the file. Apply the function to file 'admissions.csv'

In [14]:
def count_lines(filename):
    lines = 0
    # your code here
    with open(filename, 'r') as file:
        data = file.readlines()
        lines = len(data)
    return lines

print(count_lines('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv'))

403

### Step B4 - Loading the data manually

Our goal is to write ourselves a data loader for the file **admissions.csv**. To do that, we are going to go, step by step.

The first step is to convert one of our lines (e.g. *'0,380,3.61,3'*) from Step B2 to a list using `.split()`. Print the result.

In [15]:
my_line = '0,380,3.61,3'
# your code here
my_list=my_line.split(',')
print(my_list)

['0', '380', '3.61', '3']

Next, transform the admit value (first value in the line) to True when it is equal to 1 and False when it is equal to 0 so that we have a boolean type (using the if clause) and save it in a dictionary. Print the result.

In [16]:
my_dict = {}
# your code here
with open('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv', 'r') as file:
    data = file.readlines()
    header = data[0].strip().split(',') # to skip the column names
    
    admit,gre,gpa,ranking = line.split(',')
    if admit == 1:
        admit_bool = True
    else:
        admit_bool = False

    my_dict = {
        'admit': admit_bool,}

In [17]:
print(my_dict)

{'admit': False}

Finally, write a function that can process one line of our file (e.g. *'0,380,3.61,3'*) and transform it into a dictionary.

**A little tip for when you develop a new function**

In [1]:
# When you write a new function definition you can
# add some function calls just after to check how
# it behaves with some expected values
def my_sum(a, b):
    return a + b

print(my_sum(0, 2))
print(my_sum(-3, 1))
print(my_sum(4, 6))

2
-2
10

Write a function **data_to_dict( )** with the following requirements:
- Parameter: txt (type string)
- Purpose : The function should create a new dictionary containing the keys **admit**, **gpa**, **gre** and **ranking**, and be populated from the string passed as a parameter. You will need to manipulate the string to extract the different values. We also want to transform the admit value to True when it is equal to 1 and False when it is equal to 0 so that we have a boolean type. For the other fields, use the data types that you feel are the most appropriate.
- Returns: The populated dictionary

In [18]:
def data_to_dict(txt):
    # your code here
    d={}
    data = txt.strip().split(',')
    if data[0] == '1':
        d['admit'] = True
    else:
        d['admit'] = False
        

    d['gre'] = int(data[1])
    d['gpa'] = float(data[2])
    d['ranking'] = int(data[3])
    return d

print(data_to_dict('0,380,3.61,3')) # You should have: {'admit': False, 'gre': 380, 'gpa': 3.61, 'ranking': 3}
print(data_to_dict('1,640,3.19,4')) # You should have: {'admit': True, 'gre': 640, 'gpa': 3.19, 'ranking': 4}

{'admit': False, 'gre': 380, 'gpa': 3.61, 'ranking': 3}
{'admit': True, 'gre': 640, 'gpa': 3.19, 'ranking': 4}

### Step B5 - Collating our data

We now have a function that can take a line of our **admissions.csv** file and return us a nicely populated dictionary. If we do that for all the lines, we can create a list containing all these dictionaries and have our data structured. Let's give it a go!

***As always, check what the text file you are trying to load is looking like. It is extremely common for first few lines to have a different structure that you will need to accomodate for (or discard). (TIP: you can use array indexes or a counter for example to skip specific lines)***

In [29]:
data = []
# your code here
with open('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv', 'r') as file:
    lines = file.readlines()
    lines = lines[1:]  # Skip header line
    for line in lines:  
        if not line.strip():
            continue
        data.append(data_to_dict(line))

### Step B6 - Computing some means

You should now have a list containing 400 dictionaries. As our data is nicely structured, we can fairly easily compute the mean GRE and mean GPA. That's a good practice for the test!

In [33]:
# your code here
sum_gre = 0
sum_gpa = 0
for record in data:
    sum_gre += record['gre']
    sum_gpa += record['gpa']
    
print(sum_gre / len(data))
print(sum_gpa / len(data))

587.1820448877805
3.390448877805488

## Using Pandas and Numpy this time!

### Step C1
Using the **pandas** library and its **read_csv()** function, load the data of the file **admissions.csv** into a DataFrame.

In [35]:
# your code here
import pandas as pd
data=pd.read_csv('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/admissions.csv')

### Step C2

This should become a good habit, each time you load new data, check that it has been loaded correctly using the **head()** method.

In [38]:
# your code here
data.head(10)

   admit  gre   gpa  ranking
0      0  380  3.61        3
1      1  660  3.67        3
2      1  800  4.00        1
3      1  640  3.19        4
4      0  520  2.93        4
5      1  760  3.00        2
6      1  560  2.98        1
7      0  400  3.08        2
8      1  540  3.39        3
9      0  700  3.92        2

### Step C3

Let's start by checking (using **Pandas** methods this time) that the mean GRE and GPA corresponds to what we have computed manually in the previous section!

In [40]:
# your code here
# mean_gpa = data['gpa'].mean()
# mean_gre = data['gre'].mean()

print(f'{data['gpa'].mean()}, {data['gre'].mean()}')

3.3904488778054866, 587.1820448877805

### Step C4 - Updating a column

For clarity we want to replace the values of the column admit to True if it is equal to 1 or False if it is equal to 0. For this, you will need to use the **loc( )** method from **Pandas**.

In [46]:

data.loc[data['admit'] == 1, 'admit'] = True
data.loc[data['admit'] == 0, 'admit'] = False

/var/folders/kf/5c3rzd1n3mg01xt7v99dzfvr0000gn/T/ipykernel_3519/926282088.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'True' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[data['admit'] == 1, 'admit'] = True

In [48]:
# It is always good to check your operation
# had the expected output!
data.head()

   admit  gre   gpa  ranking
0  False  380  3.61        3
1   True  660  3.67        3
2   True  800  4.00        1
3   True  640  3.19        4
4  False  520  2.93        4

### Step C5 - An overview of our data

You probably remember from one of the previous tutorials, you can easily obtain a basic statistical summary of your data using the **describe( )** method.

In [49]:
# your code here
data.describe()

              gre         gpa     ranking
count  401.000000  401.000000  401.000000
mean   587.182045    3.390449    2.486284
std    115.837340    0.380250    0.943629
min    220.000000    2.260000    1.000000
25%    520.000000    3.130000    2.000000
50%    580.000000    3.400000    2.000000
75%    660.000000    3.670000    3.000000
max    800.000000    4.000000    4.000000

### Step C6 - An overview of a slice of your data

If we are interested to find the effect of **ranking** on the other variables, it can be interesting to obtain a statistical summary on a subset of our data. In our case, we can use the method **describe()** on the data subset for a specific ranking (e.g. what is the statistical summary when the ranking is 1? and 4? any differences?)

In [ ]:
# your code here
data[data['ranking'] == 1].describe()

              gre         gpa  ranking
count  122.000000  122.000000    122.0
mean   573.278689    3.434344      3.0
std    121.929682    0.385236      0.0
min    220.000000    2.560000      3.0
25%    500.000000    3.152500      3.0
50%    580.000000    3.435000      3.0
75%    660.000000    3.760000      3.0
max    800.000000    4.000000      3.0

In [54]:
data[data['ranking'] == 2].describe()

              gre         gpa  ranking
count  151.000000  151.000000    151.0
mean   596.026490    3.361656      2.0
std    107.008283    0.375893      0.0
min    300.000000    2.420000      2.0
25%    520.000000    3.095000      2.0
50%    600.000000    3.380000      2.0
75%    660.000000    3.615000      2.0
max    800.000000    4.000000      2.0

In [55]:
data[data['ranking'] == 3].describe()

              gre         gpa  ranking
count  122.000000  122.000000    122.0
mean   573.278689    3.434344      3.0
std    121.929682    0.385236      0.0
min    220.000000    2.560000      3.0
25%    500.000000    3.152500      3.0
50%    580.000000    3.435000      3.0
75%    660.000000    3.760000      3.0
max    800.000000    4.000000      3.0

### Step C7 - Number of student applications per ranking category

Remember that Pandas has a function ready made for you to do that, it was part of one of the previous lectures!

In [56]:
# your code here
data.ranking.value_counts()

ranking
2    151
3    122
4     67
1     61
Name: count, dtype: int64

### Step C8 - Admission rate (percentage) per ranking category

This time we want to compute the admission rate (in percentage) for each unique (method `unique()`) ranking category (i.e. 1, 2, 3 and 4). We just want to print these percentages to the screen.

In [59]:
# Step C8 - Admission Rate (%) per Ranking Category

# Get unique ranking categories
unique_ranks = data['ranking'].unique()

for r in unique_ranks:
    # filter by ranking
    subset = data[data['ranking'] == r]
    
    # compute admission rate
    admission_rate = subset['admit'].mean()
    
    # print rounded value
    print(f"Rank {r}: {admission_rate:.2f}% admission rate")

Rank 3: 0.23% admission rate
Rank 1: 0.54% admission rate
Rank 4: 0.18% admission rate
Rank 2: 0.36% admission rate

### Step C9 - Pearson Correlation

Ok, let’s now start exploring the data with a model. Pearson Correlation is the key factor in a linear regression - the further it is from zero the stronger the linear relationship (even though we all know now, that linear relationships certainly don’t tell the whole story). Let’s use **NumPy** to find that correlation (look up this function).

In [ ]:
import numpy as np
# your code here
r = ...
print(r)

As you can see, you get a matrix output (you can check the type using **print(type(r))** if you want). The only score that matters is the first line, second column (or second line, first column which is the same) - that’s the correlation between the variables we care about. Given that this number is part of a matrix (ndarray), try to extract it using **NumPy** indexes.

In [ ]:
print(type(r))
# your code here

More than numbers, data analysts need to understand what they mean. You have now obtained a number for the Pearson Correlation of our two variables. What do you think of this correlation? Is this correlation strong, low or medium?

- Perfect: If the value is near ± 1, then it said to be a perfect correlation: as one variable increases, the other variable tends to also increase (if positive) or decrease (if negative).
- High degree: If the coefficient value lies between ± 0.50 and ± 1, then it is said to be a strong correlation.
- Moderate degree: If the value lies between ± 0.30 and ± 0.49, then it is said to be a medium correlation.
- Low degree: When the value lies below + .29, then it is said to be a small correlation.
- No correlation: When the value is zero (or close to zero).

*Answer:*  **?**

### Bonus Step - Want to practice your lists a bit more?

Try to compute the median value of GPA ***without*** using the **median()** method of **Pandas or Numpy**.

In [ ]:
# your code here

## Now Sklearn!
### Step D1 - Importing Sklearn

This is still just a descriptive correlation score and won’t actually help us predict anything. To actually try and predict someone’s GRE exam score from their GPA average we need a linear model. You can try to do that using **Orange** with a graphical interface. It is almost as easy in Python thanks to the **sklearn** library, so let's give it a go!

The first step is to import the library using the **from** *module* **import** *submodule* syntax. From the library **sklearn** we want to import the submodule **linear_model**, try to write that import statement.

In [ ]:
from sklearn import linear_model

### Step D2 - Create our features

It’s a tradition from the olden days of yore, when people still used punchcards to program computers, that when we create predictive models we always call our input features “X” and our output features “Y”. So let’s just quickly do that, we have a DataFrame containing our data from which we want to extract **gpa** (our input feature) and **gre** (our ouput feature) and store them respectively in variables **X** and **Y**.

In [ ]:
X = df[['gpa']]
Y = df[['gre']]

Note that this time we don’t just use data.gpa to extract the field’s data. This is because we want it in the form of a matrix (and not a vector, which is what data.gpa would give us). If you want to see the difference try following code:

In [ ]:
print(df.gpa.shape)
print(df[['gpa']].shape)

When you run this you will see that data.gpa only has one dimension (it is a vector), whereas our new version has two dimensions (albeit being a matrix with only one row in it!). The difference is subtle but just trust me for now - this means it will be in the perfect format ready to feed to sklearn as it uses matrices.

In [ ]:
model = linear_model.LinearRegression()
model.fit(X,Y)
print(model.coef_, model.intercept_)

Et voila:

The first line creates an ‘empty’ model ready for us to train.

The second line does the training by finding the correct line that ‘fits’ the data.

The final line prints out the $b_1$ and the $b_0$ in the equation $y = b_1x+b_0$. Job done.

***Quick challenge:***

Any thoughts on what the connection between the gradient coefficient (coef_) and correlation (r) are? DON’T CHEAT ;)

***Answer:***

If you standardize your data the correlation is the gradient coefficient. The closer that line is to 1 (or -1) the stronger the link!

Just to prove the above (and to show you how to standardize your data - which is vital for distance measure based predictors) add the following lines before you created your linear model:

In [ ]:
from sklearn import preprocessing
X_scaled = preprocessing.scale(X)
Y_scaled = preprocessing.scale(Y.astype(float))

Sklearn gives us a special set of functions to do this sort of thing. By default, scale() will standardize your data (i.e. mean centre the data and divide through by its variance), making all data “unit-less”. This means we can use it more readily in anything that compares distances, and all the datapoints are now comparable on any feature…. whatever the scale it originally used.

**Re-run your LinearRegression fitting using X_scaled and Y_scaled this time, and confirm that the correlation you calculated via numpy is the same as the linear regression gradient coefficient!**

In [ ]:
# your code here