In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/shreyu/VSCODE/junk/UoN-Business-Analytics/FBA/coursework/cwk_data_20811152.csv')

In [4]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4000.0000,4000.00000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000
mean,41.0355,1344.92125,15.93175,293.145000,2.691500,45.795500,0.651500
std,10.7738,2662.04662,8.32742,302.032846,3.026321,104.807544,1.909309
min,18.0000,-1884.00000,1.00000,6.000000,1.000000,-1.000000,0.000000
25%,33.0000,75.00000,8.00000,112.000000,1.000000,-1.000000,0.000000
50%,39.0000,459.00000,16.00000,200.000000,2.000000,-1.000000,0.000000
75%,48.0000,1524.50000,21.00000,357.000000,3.000000,-1.000000,0.000000
max,95.0000,39098.00000,31.00000,4918.000000,33.000000,854.000000,27.000000